* {
    box-sizing: border-box;
    text-align: center;
}

html {
    margin: 0;
    height: 100%;
    width:100%;
    background-color: #2D3142;
}

body {
    background-color: #2D3142 !important;
}

.weather-text {
    font-size: 16px !important;
    width:300px;
}

.coin-text {
    font-size: 16px !important;
    width:300px;
}

.half {
    padding-top:30px;
    width:40%;
}

.dog-img {
   height:400px; 
   display:none;
}

.title {
    font-size:64px;
    font-weight: 700;

}

.holder {
    display: flex;
    width:100%;
    height:100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.dog {
    font-weight: 700;
    font-size: 20px;
    color: rgba(80, 0, 0, 0.849);
}

.card-body {
    background-color: #EF8354;
   
}

.jumbotron {
    background-color: #FFFFFF !important;
}

.card {
    background-color: #BFC0C0 !important;
    
}

@media (max-width: 950px) {

    .holder {
        width:100%;
        flex-direction: column;
        align-content: center;
    }

    .card {
        width:400px;
    }

    .half {
        padding-right:400px;
        justify-self: center;
    }
}